flow.txt
[{"id":"50626c5b.8da674","type":"mqtt in","z":"843dd8cc.edf808","name":"","topic":"dev/control/vpn","qos":"2","broker":"5c866b14.6aae34","x":160,"y":240,"wires":[["7c01b8ef.768618","8110b158.b1fa"]]},{"id":"7c01b8ef.768618","type":"debug","z":"843dd8cc.edf808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":200,"wires":[]},{"id":"8110b158.b1fa","type":"exec","z":"843dd8cc.edf808","command":"sudo ./unsecured/vpn-client.sh ","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"vpn-client","x":340,"y":240,"wires":[["c005e28b.2b3ee"],["877d790a.daf958"],["877d790a.daf958"]]},{"id":"76d96520.0c743c","type":"debug","z":"843dd8cc.edf808","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":670,"y":220,"wires":[]},{"id":"877d790a.daf958","type":"debug","z":"843dd8cc.edf808","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":510,"y":260,"wires":[]},{"id":"c005e28b.2b3ee","type":"function","z":"843dd8cc.edf808","name":"noise filter","func":"if(msg.payload == (\"\\n\")) {\n    return null;\n} else if (msg.payload.includes(\"The command completed successfully.\") && !msg.payload.includes(\"AccountList command\")) {\n    return null;\n} else if (msg.payload.includes(\"SoftEther VPN Command Line Management Utility\")) {\n    return null;\n} else { return msg; }","outputs":1,"noerr":0,"x":530,"y":220,"wires":[["76d96520.0c743c"]]},{"id":"5c866b14.6aae34","type":"mqtt-broker","z":"","name":"Opto 22 Public Broker","broker":"mqtt.groov.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
