flow.txt
[{"id":"2eae040b.114c8c","type":"mqtt in","z":"843dd8cc.edf808","name":"","topic":"dev/control/vpn","qos":"2","broker":"4ba4551b.2e267c","x":100,"y":60,"wires":[["f9473535.81db28","b111c843.f09b88"]]},{"id":"f9473535.81db28","type":"debug","z":"843dd8cc.edf808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":80,"wires":[]},{"id":"b111c843.f09b88","type":"exec","z":"843dd8cc.edf808","command":"sudo ./unsecured/vpn-client.sh ","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"vpn-client","x":300,"y":120,"wires":[["7f9ef3ba.69387c"],["3ee3085d.9f4848"],["3ee3085d.9f4848"]]},{"id":"ee0e4de3.fc0cd","type":"debug","z":"843dd8cc.edf808","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":630,"y":100,"wires":[]},{"id":"3ee3085d.9f4848","type":"debug","z":"843dd8cc.edf808","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":140,"wires":[]},{"id":"7f9ef3ba.69387c","type":"function","z":"843dd8cc.edf808","name":"noise filter","func":"if(msg.payload == (\"\\n\")) {\n    return null;\n} else if (msg.payload.includes(\"The command completed successfully.\") && !msg.payload.includes(\"AccountList command\")) {\n    return null;\n} else if (msg.payload.includes(\"SoftEther VPN Command Line Management Utility\")) {\n    return null;\n} else { return msg; }","outputs":1,"noerr":0,"x":490,"y":100,"wires":[["ee0e4de3.fc0cd"]]},{"id":"b9191c89.1f9b8","type":"inject","z":"843dd8cc.edf808","name":"setup","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":120,"wires":[["b111c843.f09b88"]]},{"id":"324b5c12.33ab14","type":"inject","z":"843dd8cc.edf808","name":"connect","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":160,"wires":[["b111c843.f09b88"]]},{"id":"b1c90072.fa829","type":"inject","z":"843dd8cc.edf808","name":"disconnect","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":200,"wires":[["b111c843.f09b88"]]},{"id":"4ba4551b.2e267c","type":"mqtt-broker","z":"","name":"Opto 22 Public Broker","broker":"mqtt.groov.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
